@using System.Threading.Tasks

@model PinkSombrero.Web.CreateMongoCredentialsModel

<form asp-controller="Credentials" asp-action="Create" method="post" class="form-signin">
	<h3>Для начала надо создать учётную запись в MongoDB</h3>
	<span class="help-block">
		Придумайте пароль
	</span>
	<div class="form-group">
		<label asp-for="Login">Логин</label>
		<input asp-for="Login" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="Password">Пароль</label>
		<input asp-for="Password" class="form-control" placeholder="Пароль от учётной записи MongoDB"/>
		<span asp-validation-for="Password" class="field-validation-error"></span>
	</div>
	<button type="submit" class="btn btn-primary">Создать учётную запись</button>
</form>