@using System.Threading.Tasks

@model PinkSombrero.Web.GrantWriteAccessModel

<div class="jumbotron">
	<h2>
		Сервис управления учётными данными в MongoDB
		@if (Model.WriteExpiration.HasValue)
		{
			if (Model.WriteExpiration.Value.TotalMilliseconds > 0)
			{
				<span class="label label-warning">
					Осталось @(Model.WriteExpiration.Value.Minutes.ToString("##")):@(Model.WriteExpiration.Value.Seconds.ToString("##")) минут
				</span>
			}
			else
			{
				<span class="label label-danger">
					Завершаем сессию записи...
				</span>
			}
		}
	</h2>

	@if (!Model.WriteExpiration.HasValue)
	{
		<p>
			Вы можете временно повысить права для своей учётной записи - в это время вы сможете выполнять запросы на запись,
			разрешённые в роли `readWrite`. По истечении указанного временного промежутка для вашей учётной записи будут восстановлены
			права на чтение.
		</p>
		<form asp-action="GrantWriteAccess" method="post">
			<span class="help-block">
				Тщательно подумайте о том, сколько времени вам нужно для проведения модифицирующей операции. Если вы не укладываетесь
				ни в один из указанных временных интервалов, возможно стоит написать скрипт миграции.
			</span>
			<div class="form-group">
				<label asp-for="Reason">Зачем нужны права на запись?</label>
				<input asp-for="Reason" class="form-control" placeholder="Опишите причину повышения прав"/>
				<span asp-validation-for="Reason" class="field-validation-error"></span>
			</div>
			<div class="form-group">
				<label asp-for="WriteModePeriod">Как долго нужны права на запись?</label>
				<select asp-for="WriteModePeriod"
				        asp-items="Html.GetEnumSelectList<Period>()"
				        class="form-control"
				        placeholder="Выберите временной интервал">
				</select>
				<span asp-validation-for="WriteModePeriod" class="field-validation-error"></span>
			</div>
			<div class="form-group">
				<label asp-for="ClusterIds">На какие кластеры MongoDB нужны права?</label>
				<select asp-for="ClusterIds"
						asp-items="Model.AvailableClusterIds"
						class="form-control"
						placeholder="Выберите кластер"></select>
				<span asp-validation-for="ClusterIds" class="field-validation-error"></span>
			</div>
			<button type="submit" class="btn btn-primary" >Выдать права на запись</button>
		</form>
	}
	else
	{
		<form asp-action="RevokeWriteAccess" method="post">
			<span class="help-block">
				Вы можете досрочно прекратить сессию записи. Для вашей учётной записи будут восстановлены права на чтение.
			</span>
			<button type="submit" class="btn btn-primary">Вернуть права на чтение</button>
		</form>
	}
</div>